---
import { Image } from "astro:assets";
---

<section class="p-6">
  <Image
    src="https://placehold.co/1920x600"
    alt="banner"
    width={1920}
    height={600}
    class={"mx-auto rounded-xl shadow-xl"}
  />
</section>
