---
import { Image } from "astro:assets";
---

<section class="bg-gray-900">
  <Image
    src="https://placehold.co/1920x600"
    alt="banner"
    width={1920}
    height={600}
    class={"mx-auto"}
  />
</section>
