---

---

<section class="flex flex-wrap gap-6 p-5 justify-center">
  <iframe
    class="rounded-lg flex-1 min-w-[300px] max-w-[calc(33%-1rem)] aspect-video shadow-xl hover:scale-105 hover:shadow-2xl transition-transform duration-300 ease-in-out border-2 border-gray-300"
    src="https://www.youtube.com/embed/X3JcktICIOg?si=HVUbxbaHRuZFNFkP"
    title="Video 1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>

  <iframe
    class="rounded-lg flex-1 min-w-[300px] max-w-[calc(33%-1rem)] aspect-video shadow-xl hover:scale-105 hover:shadow-2xl transition-transform duration-300 ease-in-out border-2 border-gray-300"
    src="https://www.youtube.com/embed/5DqmNetmF8Q?si=7wWLO1rhTugndx6f"
    title="Video 2"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  >
  </iframe>
  <iframe
    class="rounded-lg flex-1 min-w-[300px] max-w-[calc(33%-1rem)] aspect-video shadow-xl hover:scale-105 hover:shadow-2xl transition-transform duration-300 ease-in-out border-2 border-gray-300"
    src="https://www.youtube.com/embed/U0chOYw34aE?si=MG4swI_e8HB6CWFA&controls"
    title="Video 3"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  >
  </iframe>
  <iframe
    class="rounded-xl w-full max-w-3xl aspect-video shadow-xl"
    src="https://www.youtube.com/embed?listType=playlist&list=PLFgquLnL59alCl_2TQvOiD5Vgm1hCaGSI"
    title="Lista de reproducción"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
</section>
