---

---

<section class="flex flex-wrap gap-6 p-5 justify-center">
  <iframe
    class="rounded-xl flex-1 min-w-[300px] max-w-[calc(33%-1rem)] aspect-video"
    src="https://www.youtube.com/embed/U0chOYw34aE?si=MG4swI_e8HB6CWFA&controls=0"
    title="Video 1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  >
  </iframe>
  <iframe
    class="rounded-xl flex-1 min-w-[300px] max-w-[calc(33%-1rem)] aspect-video"
    src="https://www.youtube.com/embed/5DqmNetmF8Q?si=7wWLO1rhTugndx6f"
    title="Video 2"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  >
  </iframe>
  <iframe
    class="rounded-xl flex-1 min-w-[300px] max-w-[calc(33%-1rem)] aspect-video"
    src="https://www.youtube.com/embed/U0chOYw34aE?si=MG4swI_e8HB6CWFA&controls=0"
    title="Video 3"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  >
  </iframe>
</section>
